{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://publicapi.payments.service.gov.uk/"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "GOVUK"
        },
        "description": "GOV.UK Pay API",
        "title": "GOV.UK Pay",
        "version": "1.0.2",
        "x-apisguru-categories": [
            "financial"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_GOVUK_profile_image.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/alphagov/pay-publicapi/master/swagger/swagger.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "payments.service.gov.uk",
        "x-serviceName": "payments"
    },
    "tags": [
        {
            "name": "refunds"
        }
    ],
    "paths": {
        "/v1/payments": {
            "get": {
                "description": "Search payments by reference, state, 'from' and 'to' date. The Authorisation token needs to be specified in the 'authorization' header as 'authorization: Bearer YOUR_API_KEY_HERE'",
                "operationId": "searchPayments",
                "parameters": [
                    {
                        "description": "Your payment reference to search",
                        "in": "query",
                        "name": "reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The user email used in the payment to be searched",
                        "in": "query",
                        "name": "email",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "State of payments to be searched. Example=success",
                        "in": "query",
                        "name": "state",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "created",
                                "started",
                                "submitted",
                                "success",
                                "failed",
                                "cancelled",
                                "error"
                            ]
                        }
                    },
                    {
                        "description": "Card brand used for payment. Example=master-card",
                        "in": "query",
                        "name": "card_brand",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "From date of payments to be searched (this date is inclusive). Example=2015-08-13T12:35:00Z",
                        "in": "query",
                        "name": "from_date",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "To date of payments to be searched (this date is exclusive). Example=2015-08-14T12:35:00Z",
                        "in": "query",
                        "name": "to_date",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Page number requested for the search, should be a positive integer (optional, defaults to 1)",
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Number of results to be shown per page, should be a positive integer (optional, defaults to 500, max 500)",
                        "in": "query",
                        "name": "display_size",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name on card used to make payment",
                        "in": "query",
                        "name": "cardholder_name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "First six digits of the card used to make payment",
                        "in": "query",
                        "name": "first_digits_card_number",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Last four digits of the card used to make payment",
                        "in": "query",
                        "name": "last_digits_card_number",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "description": "Links to navigate through pages",
                                            "properties": {
                                                "first_page": {
                                                    "readOnly": true,
                                                    "description": "A link related to a payment",
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "last_page": {
                                                    "readOnly": true,
                                                    "description": "A link related to a payment",
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "next_page": {
                                                    "readOnly": true,
                                                    "description": "A link related to a payment",
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "prev_page": {
                                                    "readOnly": true,
                                                    "description": "A link related to a payment",
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "self": {
                                                    "readOnly": true,
                                                    "description": "A link related to a payment",
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "count": {
                                            "example": 20,
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "page": {
                                            "example": 1,
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "results": {
                                            "items": {
                                                "properties": {
                                                    "_links": {
                                                        "readOnly": true,
                                                        "description": "links for search payment resource",
                                                        "properties": {
                                                            "cancel": {
                                                                "description": "cancel",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "href": {
                                                                        "example": "https://an.example.link/from/payment/platform",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "example": "POST",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "params": {
                                                                        "additionalProperties": {
                                                                            "type": "object"
                                                                        },
                                                                        "example": "\"description\":\"This is a value for a parameter called description\"",
                                                                        "type": "object"
                                                                    },
                                                                    "type": {
                                                                        "example": "application/x-www-form-urlencoded",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "capture": {
                                                                "description": "capture",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "href": {
                                                                        "example": "https://an.example.link/from/payment/platform",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "example": "POST",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "params": {
                                                                        "additionalProperties": {
                                                                            "type": "object"
                                                                        },
                                                                        "example": "\"description\":\"This is a value for a parameter called description\"",
                                                                        "type": "object"
                                                                    },
                                                                    "type": {
                                                                        "example": "application/x-www-form-urlencoded",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "events": {
                                                                "description": "events",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "href": {
                                                                        "example": "https://an.example.link/from/payment/platform",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "example": "GET",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "refunds": {
                                                                "description": "refunds",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "href": {
                                                                        "example": "https://an.example.link/from/payment/platform",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "example": "GET",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "self": {
                                                                "description": "self",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "href": {
                                                                        "example": "https://an.example.link/from/payment/platform",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "example": "GET",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "amount": {
                                                        "example": 1200,
                                                        "format": "int64",
                                                        "type": "integer"
                                                    },
                                                    "card_brand": {
                                                        "description": "Card Brand",
                                                        "example": "Visa",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "card_details": {
                                                        "readOnly": true,
                                                        "description": "A structure representing the payment card",
                                                        "properties": {
                                                            "billing_address": {
                                                                "readOnly": true,
                                                                "description": "A structure representing the billing address of a card",
                                                                "properties": {
                                                                    "city": {
                                                                        "example": "address city",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "country": {
                                                                        "example": "GB",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "line1": {
                                                                        "example": "address line 1",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "line2": {
                                                                        "example": "address line 2",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "postcode": {
                                                                        "example": "AB1 2CD",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "card_brand": {
                                                                "example": "Visa",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "cardholder_name": {
                                                                "example": "Mr. Card holder",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "expiry_date": {
                                                                "example": "12/20",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "first_digits_card_number": {
                                                                "example": "123456",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "last_digits_card_number": {
                                                                "example": "1234",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "corporate_card_surcharge": {
                                                        "example": 250,
                                                        "format": "int64",
                                                        "readOnly": true,
                                                        "type": "integer"
                                                    },
                                                    "created_date": {
                                                        "example": "2016-01-21T17:15:000Z",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "delayed_capture": {
                                                        "description": "delayed capture flag",
                                                        "example": false,
                                                        "readOnly": true,
                                                        "type": "boolean"
                                                    },
                                                    "description": {
                                                        "example": "Your Service Description",
                                                        "type": "string"
                                                    },
                                                    "email": {
                                                        "example": "your email",
                                                        "type": "string"
                                                    },
                                                    "language": {
                                                        "enum": [
                                                            "en",
                                                            "cy"
                                                        ],
                                                        "example": "en",
                                                        "type": "string"
                                                    },
                                                    "payment_id": {
                                                        "example": "hu20sqlact5260q2nanm0q8u93",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "payment_provider": {
                                                        "example": "worldpay",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "provider_id": {
                                                        "example": "reference-from-payment-gateway",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "reference": {
                                                        "example": "your-reference",
                                                        "type": "string"
                                                    },
                                                    "refund_summary": {
                                                        "readOnly": true,
                                                        "description": "A structure representing the refunds availability",
                                                        "properties": {
                                                            "amount_available": {
                                                                "description": "Amount available for refund in pence",
                                                                "example": 100,
                                                                "format": "int64",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "amount_submitted": {
                                                                "description": "Amount submitted for refunds on this Payment in pence",
                                                                "format": "int64",
                                                                "readOnly": true,
                                                                "type": "integer"
                                                            },
                                                            "status": {
                                                                "description": "Availability status of the refund",
                                                                "example": "available",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "return_url": {
                                                        "example": "http://your.service.domain/your-reference",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "settlement_summary": {
                                                        "readOnly": true,
                                                        "description": "A structure representing information about a settlement",
                                                        "properties": {
                                                            "capture_submit_time": {
                                                                "description": "Date and time capture request has been submitted (may be null if capture request was not immediately acknowledged by payment gateway)",
                                                                "example": "2016-01-21T17:15:000Z",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "captured_date": {
                                                                "description": "Date of the capture event",
                                                                "example": "2016-01-21",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "state": {
                                                        "description": "A structure representing the current state of the payment in its lifecycle.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "What went wrong with the Payment if it finished with an error - error code",
                                                                "example": "P010",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "finished": {
                                                                "description": "Whether the payment has finished",
                                                                "readOnly": true,
                                                                "type": "boolean"
                                                            },
                                                            "message": {
                                                                "description": "What went wrong with the Payment if it finished with an error - English message",
                                                                "example": "User cancelled the payment",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "description": "Current progress of the payment in its lifecycle",
                                                                "example": "created",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "total_amount": {
                                                        "example": 1450,
                                                        "format": "int64",
                                                        "readOnly": true,
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "total": {
                                            "example": 100,
                                            "format": "int32",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credentials are required to access this resource"
                    },
                    "422": {
                        "description": "Invalid parameters: from_date, to_date, status, display_size. See Public API documentation for the correct data formats",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Payment Error response",
                                    "properties": {
                                        "code": {
                                            "example": "P0102",
                                            "type": "string"
                                        },
                                        "description": {
                                            "example": "Invalid attribute value: amount. Must be less than or equal to 10000000",
                                            "type": "string"
                                        },
                                        "field": {
                                            "example": "amount",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An error response",
                                    "properties": {
                                        "code": {
                                            "example": "P0900",
                                            "type": "string"
                                        },
                                        "description": {
                                            "example": "Too many requests",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Downstream system error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Payment Error response",
                                    "properties": {
                                        "code": {
                                            "example": "P0102",
                                            "type": "string"
                                        },
                                        "description": {
                                            "example": "Invalid attribute value: amount. Must be less than or equal to 10000000",
                                            "type": "string"
                                        },
                                        "field": {
                                            "example": "amount",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "summary": "Search payments"
            },
            "post": {
                "description": "Create a new payment for the account associated to the Authorisation token. The Authorisation token needs to be specified in the 'authorization' header as 'authorization: Bearer YOUR_API_KEY_HERE'",
                "operationId": "newPayment",
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "description": "links for payment",
                                            "properties": {
                                                "cancel": {
                                                    "description": "cancel",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "POST",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "params": {
                                                            "additionalProperties": {
                                                                "type": "object"
                                                            },
                                                            "example": "\"description\":\"This is a value for a parameter called description\"",
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "example": "application/x-www-form-urlencoded",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "capture": {
                                                    "description": "capture",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "POST",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "params": {
                                                            "additionalProperties": {
                                                                "type": "object"
                                                            },
                                                            "example": "\"description\":\"This is a value for a parameter called description\"",
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "example": "application/x-www-form-urlencoded",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "events": {
                                                    "description": "events",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "next_url": {
                                                    "description": "next_url",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "next_url_post": {
                                                    "description": "next_url_post",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "POST",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "params": {
                                                            "additionalProperties": {
                                                                "type": "object"
                                                            },
                                                            "example": "\"description\":\"This is a value for a parameter called description\"",
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "example": "application/x-www-form-urlencoded",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "refunds": {
                                                    "description": "refunds",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "self": {
                                                    "description": "self",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "amount": {
                                            "example": 1200,
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "created_date": {
                                            "example": "2016-01-21T17:15:00Z",
                                            "type": "string"
                                        },
                                        "delayed_capture": {
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "example": "Your Service Description",
                                            "type": "string"
                                        },
                                        "language": {
                                            "enum": [
                                                "ENGLISH",
                                                "WELSH"
                                            ],
                                            "example": "en",
                                            "type": "string"
                                        },
                                        "payment_id": {
                                            "example": "hu20sqlact5260q2nanm0q8u93",
                                            "type": "string"
                                        },
                                        "payment_provider": {
                                            "example": "worldpay",
                                            "type": "string"
                                        },
                                        "provider_id": {
                                            "example": "null",
                                            "type": "string"
                                        },
                                        "reference": {
                                            "example": "your-reference",
                                            "type": "string"
                                        },
                                        "refund_summary": {
                                            "description": "A structure representing the refunds availability",
                                            "properties": {
                                                "amount_available": {
                                                    "description": "Amount available for refund in pence",
                                                    "example": 100,
                                                    "format": "int64",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "amount_submitted": {
                                                    "description": "Amount submitted for refunds on this Payment in pence",
                                                    "format": "int64",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "description": "Availability status of the refund",
                                                    "example": "available",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_url": {
                                            "example": "http://your.service.domain/your-reference",
                                            "type": "string"
                                        },
                                        "settlement_summary": {
                                            "description": "A structure representing information about a settlement",
                                            "properties": {
                                                "capture_submit_time": {
                                                    "description": "Date and time capture request has been submitted (may be null if capture request was not immediately acknowledged by payment gateway)",
                                                    "example": "2016-01-21T17:15:000Z",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "captured_date": {
                                                    "description": "Date of the capture event",
                                                    "example": "2016-01-21",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "state": {
                                            "description": "A structure representing the current state of the payment in its lifecycle.",
                                            "properties": {
                                                "code": {
                                                    "description": "What went wrong with the Payment if it finished with an error - error code",
                                                    "example": "P010",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "finished": {
                                                    "description": "Whether the payment has finished",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "description": "What went wrong with the Payment if it finished with an error - English message",
                                                    "example": "User cancelled the payment",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "Current progress of the payment in its lifecycle",
                                                    "example": "created",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Payment Error response",
                                    "properties": {
                                        "code": {
                                            "example": "P0102",
                                            "type": "string"
                                        },
                                        "description": {
                                            "example": "Invalid attribute value: amount. Must be less than or equal to 10000000",
                                            "type": "string"
                                        },
                                        "field": {
                                            "example": "amount",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credentials are required to access this resource"
                    },
                    "422": {
                        "description": "Invalid attribute value: description. Must be less than or equal to 255 characters length",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Payment Error response",
                                    "properties": {
                                        "code": {
                                            "example": "P0102",
                                            "type": "string"
                                        },
                                        "description": {
                                            "example": "Invalid attribute value: amount. Must be less than or equal to 10000000",
                                            "type": "string"
                                        },
                                        "field": {
                                            "example": "amount",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "An error response",
                                    "properties": {
                                        "code": {
                                            "example": "P0900",
                                            "type": "string"
                                        },
                                        "description": {
                                            "example": "Too many requests",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Downstream system error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A Payment Error response",
                                    "properties": {
                                        "code": {
                                            "example": "P0102",
                                            "type": "string"
                                        },
                                        "description": {
                                            "example": "Invalid attribute value: amount. Must be less than or equal to 10000000",
                                            "type": "string"
                                        },
                                        "field": {
                                            "example": "amount",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "summary": "Create new payment",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "amount": {
                                        "description": "amount in pence",
                                        "example": 12000,
                                        "format": "int32",
                                        "maximum": 10000000,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "delayed_capture": {
                                        "description": "delayed capture flag",
                                        "example": false,
                                        "readOnly": true,
                                        "type": "boolean"
                                    },
                                    "description": {
                                        "description": "payment description",
                                        "example": "New passport application",
                                        "type": "string"
                                    },
                                    "language": {
                                        "description": "ISO-639-1 Alpha-2 code of a supported language to use on the payment pages",
                                        "enum": [
                                            "en",
                                            "cy"
                                        ],
                                        "example": "en",
                                        "type": "string"
                                    },
                                    "reference": {
                                        "description": "payment reference",
                                        "example": "12345",
                                        "type": "string"
                                    },
                                    "return_url": {
                                        "description": "service return url",
                                        "example": "https://service-name.gov.uk/transactions/12345",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "amount",
                                    "description",
                                    "reference",
                                    "return_url"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "requestPayload",
                    "required": true
                }
            }
        },
        "/v1/payments/{paymentId}": {
            "get": {
                "description": "Return information about the payment The Authorisation token needs to be specified in the 'authorization' header as 'authorization: Bearer YOUR_API_KEY_HERE'",
                "operationId": "getPayment",
                "parameters": [
                    {
                        "description": "Payment identifier",
                        "in": "path",
                        "name": "paymentId",
                        "required": true,
                        "example": "hu20sqlact5260q2nanm0q8u93",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "_links": {
                                            "description": "links for payment",
                                            "properties": {
                                                "cancel": {
                                                    "description": "cancel",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "POST",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "params": {
                                                            "additionalProperties": {
                                                                "type": "object"
                                                            },
                                                            "example": "\"description\":\"This is a value for a parameter called description\"",
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "example": "application/x-www-form-urlencoded",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "capture": {
                                                    "description": "capture",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "POST",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "params": {
                                                            "additionalProperties": {
                                                                "type": "object"
                                                            },
                                                            "example": "\"description\":\"This is a value for a parameter called description\"",
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "example": "application/x-www-form-urlencoded",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "events": {
                                                    "description": "events",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "next_url": {
                                                    "description": "next_url",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "next_url_post": {
                                                    "description": "next_url_post",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "POST",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "params": {
                                                            "additionalProperties": {
                                                                "type": "object"
                                                            },
                                                            "example": "\"description\":\"This is a value for a parameter called description\"",
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "example": "application/x-www-form-urlencoded",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "refunds": {
                                                    "description": "refunds",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "self": {
                                                    "description": "self",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "href": {
                                                            "example": "https://an.example.link/from/payment/platform",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "method": {
                                                            "example": "GET",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "amount": {
                                            "example": 1200,
                                            "format": "int64",
                                            "type": "integer"
                                        },
                                        "card_brand": {
                                            "description": "Card Brand",
                                            "example": "Visa",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "card_details": {
                                            "readOnly": true,
                                            "description": "A structure representing the payment card",
                                            "properties": {
                                                "billing_address": {
                                                    "readOnly": true,
                                                    "description": "A structure representing the billing address of a card",
                                                    "properties": {
                                                        "city": {
                                                            "example": "address city",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "country": {
                                                            "example": "GB",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "line1": {
                                                            "example": "address line 1",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "line2": {
                                                            "example": "address line 2",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "postcode": {
                                                            "example": "AB1 2CD",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "card_brand": {
                                                    "example": "Visa",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "cardholder_name": {
                                                    "example": "Mr. Card holder",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "expiry_date": {
                                                    "example": "12/20",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "first_digits_card_number": {
                                                    "example": "123456",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "last_digits_card_number": {
                                                    "example": "1234",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "corporate_card_surcharge": {
                                            "example": 250,
                                            "format": "int64",
                                            "readOnly": true,
                                            "type": "integer"
                                        },
                                        "created_date": {
                                            "example": "2016-01-21T17:15:000Z",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "delayed_capture": {
                                            "description": "delayed capture flag",
                                            "example": false,
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "description": {
                                            "example": "Your Service Description",
                                            "type": "string"
                                        },
                                        "email": {
                                            "example": "your email",
                                            "type": "string"
                                        },
                                        "language": {
                                            "enum": [
                                                "en",
                                                "cy"
                                            ],
                                            "example": "en",
                                            "type": "string"
                                        },
                                        "payment_id": {
                                            "example": "hu20sqlact5260q2nanm0q8u93",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "payment_provider": {
                                            "example": "worldpay",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "provider_id": {
                                            "example": "reference-from-payment-gateway",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "reference": {
                                            "example": "your-reference",
                                            "type": "string"
                                        },
                                        "refund_summary": {
                                            "readOnly": true,
                                            "description": "A structure representing the refunds availability",
                                            "properties": {
                                                "amount_available": {
                                                    "description": "Amount available for refund in pence",
                                                    "example": 100,
                                                    "format": "int64",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "amount_submitted": {
                                                    "description": "Amount submitted for refunds on this Payment in pence",
                                                    "format": "int64",
                                                    "readOnly": true,
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "description": "Availability status of the refund",
                                                    "example": "available",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "return_url": {
                                            "example": "http://your.service.domain/your-reference",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "settlement_summary": {
                                            "readOnly": true,
                                            "description": "A structure representing information about a settlement",
                                            "properties": {
                                                "capture_submit_time": {
                                                    "description": "Date and time capture request has been submitted (may be null if capture request was not immediately acknowledged by payment gateway)",
                                                    "example": "2016-01-21T17:15:000Z",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "captured_date": {
                                                    "description": "Date of the capture event",
                                                    "example": "2016-01-21",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "state": {
                                            "description": "A structure representing the current state of the payment in its lifecycle.",
                                            "properties": {
                                                "code": {
                                                    "description": "What went wrong with the Payment if it finished with an error - error code",
                                                    "example": "P010",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "finished": {
                                                    "description": "Whether the payment has finished",
                                                    "readOnly": true,
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "description": "What went wrong with the Payment if it finished with an error - English message",
                                                    "example": "User cancelled the payment",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "description": "Current progress of the payment in its lifecycle",
                                                    "example": "created",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "total_amount": {
                                            "example": 1450,
                                            "format": "int64",
                                            "readOnly": true,
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
[...]
